* {
  margin: 0;
  padding: 0;
  overflow-x: clip;
}

/* Header section */

header {
  display: flex;
  flex-direction: column;
  width: 1440px;
  height: 667px;
  background-image: url("../assets/banner.jpeg");
  background-size: cover;
}

.banner-text {
  width: 890px;
  height: 132px;
  font-family: "Anton", sans-serif;
  font-size: 44px;
  color: #ffd15b;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 40px;
}

.banner-logo {
  width: 207px;
  height: 25px;
  position: relative;
  margin: 51px 0px 0px 69px;
}

.search-section {
  margin: auto;
  gap: 100px;
}

.searchbar-div {
  display: flex;
  justify-content: center;
  position: relative;
  width: 954px;
  height: 72px;
  margin: 0 auto;
}

.searchbar-icon {
  position: absolute;
  width: 51px;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  color: white;
  background-color: #1b1b1b;
  border-radius: 5px;
  right: 10px;
  top: 10px;
}

#searchbar-banner {
  position: absolute;
  width: 954px;
  height: 72px;
  margin: 0 auto;
  border-radius: 5px;
  border: none;
}

#searchbar-banner::placeholder {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  padding-left: 40px;
}

#searchbar-banner input {
  padding-left: 40px;
}

.result-banner {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 954px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #1b1b1b;
  background-color: white;
  position: absolute;
  z-index: 1000;
  overflow: hidden;
}

.result-banner .list-element {
  width: 954px;
  max-width: 954px;
  min-height: 37px;
  overflow:auto;
  justify-content: flex-start;
  padding-top: 5px;
  padding-bottom: 5px;
}

/* Main section */

main {
  width: 1440px;
  background-color: #e5e5e5;
}

.filter-section {
  height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0px 100px;
  z-index: 1000;
}

.filter-dropdown_section {
  display: flex;
  flex-direction: row;
  gap: 60px;
  position: absolute;
  left: 100px;
}

.filter-dropdown {
  width: 195px;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #ffff;
  border-radius: 11px;
  margin: 10px 0px;
  z-index: 10;
  overflow: visible;
}

.filter-dropdown_top {
  width: 100%;
  height: 56px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filter-dropdown:hover .filter-dropdown_bottom {
  display: flex;
}

.filter-dropdown:hover {
  height: 100%;
}

.filter-dropdown_bottom {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.filter-dropdown_bottom input {
  border-style: solid;
  width: 150px;
  height: 36px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c6c6c6;
  color: #7A7A7A;
  padding: 0.2em 2em 0.2em 0.5em;
  font-family: "Manrope", sans-serif;
}

.filter-dropdown_bottom input:focus {
  border-style: solid;
  width: 150px;
  height: 36px;
  border-width: 1px;
  border-radius: 2px;
  border-color: #c6c6c6;
  color: #7A7A7A;
  padding: 0.2em 2em 0.2em 0.5em;
  font-family: "Manrope", sans-serif;
  outline: none;
} 

.magnifying-glass {
  font-size: 14px;
  color: #7a7a7a;
  position: absolute;
  right: 30px;
  top: 67px;
}

.list-element {
  display: flex;
  justify-content:space-around;
  align-items: center;
  width: 195px;
  min-height: 37px;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #1b1b1b;
}

.result-ingredients,.result-ustensils, .result-appareils{
  margin-top: 10px;
}

.list-element:hover {
  background-color: #FFD15B;
}

.filter-dropdown_arrow {
  position: relative;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-dropdown_title {
  font-family: "Manrope", sans-serif;
}

.arrow-up {
  display: none;
  /*position: absolute;*/
  justify-content: center;
  align-items: center;
}

.arrow-down {
  display: flex;
  /*position: absolute;*/
  justify-content: center;
  align-items: center;
}

.filter-dropdown:hover .arrow-down {
  display: none;
}

.filter-dropdown:hover .arrow-up {
  display: block;
}

.filter-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter-amount p {
  font-family: "Anton", sans-serif;
  font-size: 21px;
}

.tag-section {
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
  margin: 0px 100px;
  gap: 60px;
}

.tag {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 190px;
  height: 56px;
  background-color: #FFD15B;
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  border-radius: 11px;
}

.error-msg {
  font-size: 14px;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-x {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  z-index: 2;
}

.recipe-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0px 100px;
}

.recipe-section .error-msg {
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timer {
  width: 63px;
  height: 26px;
  margin: 20px 20px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd15b;
  position: sticky;
  bottom: 690px;
  left: 328px;
  border-radius: 14px;
  font-size: 12px !important; 
}

.card {
  width: 380px;
  height: 731px;
  border-radius: 21px;
  background-color: white;
  overflow: hidden;
  margin: 30px 0px;
}

.card img {
  width: 380px;
  height: 253px;
  object-fit: cover;
}

.card h2 {
  font-family: "Anton", sans-serif;
  font-size: 18px;
  margin: 30px 30px;
}

.card p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  margin: 20px 30px;
}

.card-section_title {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  color: #7a7a7a;
  margin: 20px 30px;
  letter-spacing: 1px;
}

.card-recette p {
  height: 76px;
  overflow: hidden;
}

/*.card-ingredients {
  margin: 0px 100px;
}*/

.ingredients-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: row;
  margin-left: 30px;
}

.ingredients-container p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  color: #7a7a7a;
  margin: 0;
}

.ingredients-container h1 {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
}

.ingredients-div {
  width: 150px;
  margin-bottom: 20px;
}
